<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections> 
    <!--This is the nlog logging section-->
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <!--This is the nlog logging configuration section-->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" archiveFileName="${basedir}/log/${date:format=yyyy.MM.dd}_tracelog.txt" fileName="${basedir}/log/${date:format=yyyy.MM.dd}_tracelog.txt" archiveNumbering="Rolling" archiveEvery="Day" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
  </nlog>
  <appSettings>
    <!-- MetaComic Plugins (Note: To add yours implement IComicPlugin,and add your plugin defintion here.-->
    <!-- String Fomat Plugin_(Your comic Plugin)-->
    <add key="Plugin_Achewood" value="MetaComics.Client.exe, MetaComics.Client.Plugin.AchewoodComicPlugin" />
    <add key="Plugin_AfterStrife" value="MetaComics.Client.exe, MetaComics.Client.Plugin.AfterStrifeComicPlugin" />
    <add key="Plugin_AMultiverseComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.AMultiverseComicPlugin" />
    <add key="Plugin_ArbitMBAComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.ArbitMBAComicPlugin" />
    <add key="Plugin_AlienLovesPredatorComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.AlienLovesPredatorComicPlugin" />
    <add key="Plugin_BeardFluffComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.BeardFluffComicPlugin" />
    <add key="Plugin_BadMachineryComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.BadMachineryComicPlugin" />
    <add key="Plugin_Bleeker" value="MetaComics.Client.exe, MetaComics.Client.Plugin.BleekerComicPlugin" />
    <add key="Plugin_Blondie" value="MetaComics.Client.exe, MetaComics.Client.Plugin.BlondieComicPlugin" />
    <add key="Plugin_BC" value="MetaComics.Client.exe, MetaComics.Client.Plugin.BCComicPlugin" />
    <add key="Plugin_CalvinAndHobbes" value="MetaComics.Client.exe, MetaComics.Client.Plugin.CalvinAndHobbesComicPlugin" />
    <add key="Plugin_Chainsawsuit" value="MetaComics.Client.exe, MetaComics.Client.Plugin.ChainsawsuitComicPlugin" />
    <add key="Plugin_CatAndGirlComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.CatAndGirlComicPlugin" />
    <add key="Plugin_ComicsDotComRSS" value="MetaComics.Client.exe, MetaComics.Client.Plugin.ComicsDotComRSSPlugin" />
    <add key="Plugin_DinosaurComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.DinosaurComicPlugin" />
    <add key="Plugin_Doonesbury" value="MetaComics.Client.exe, MetaComics.Client.Plugin.DoonesburyComicPlugin" />
    <add key="Plugin_Dilbert" value="MetaComics.Client.exe, MetaComics.Client.Plugin.DilbertComicPlugin" />
    <add key="Plugin_DrmcninjaComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.DrmcninjaComicPlugin" />
    <add key="Plugin_DayByDayComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.DayByDayComicPlugin" />
    <add key="Plugin_DieselSweeties" value="MetaComics.Client.exe, MetaComics.Client.Plugin.DieselSweetiesComicPlugin" />
    <add key="Plugin_Garfield" value="MetaComics.Client.exe, MetaComics.Client.Plugin.GarfieldComicPlugin" />
    <add key="Plugin_GunShowComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.GunShowComicPlugin" />
    <add key="Plugin_GoatsComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.GoatsComicPlugin" />
    <add key="Plugin_GastrophobiaComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.GastrophobiaComicPlugin" />
    <add key="Plugin_EQComicsComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.EQComicsComicPlugin" />
    <add key="Plugin_FamilyCircus" value="MetaComics.Client.exe, MetaComics.Client.Plugin.FamilyCircusPlugin" />
    <add key="Plugin_FlimsytheKitten" value="MetaComics.Client.exe, MetaComics.Client.Plugin.FlimsytheKittenComicPlugin" />
    <add key="Plugin_FoxTrotComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.FoxTrotComicPlugin" />
    <add key="Plugin_LeftHandedToonComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.LeftHandedToonComicPlugin" />
    <add key="Plugin_LAWLSComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.LAWLSComicPlugin" />
    <add key="Plugin_MotherGoosenGrimm" value="MetaComics.Client.exe, MetaComics.Client.Plugin.MotherGoosenGrimmComicPlugin" />
    <add key="Plugin_NorthworldComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.NorthworldComicPlugin" />
    <add key="Plugin_NobodyScoresComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.NobodyScoresComicPlugin" />
    <add key="Plugin_NameRemovedComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.NameRemovedComicPlugin" />
    <add key="Plugin_OverCompensatingComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.OverCompensatingComicPlugin" />
    <add key="Plugin_OhBrother" value="MetaComics.Client.exe, MetaComics.Client.Plugin.OhBrotherComicPlugin" />
    <add key="Plugin_PHD" value="MetaComics.Client.exe, MetaComics.Client.Plugin.PHDComicPlugin" />
    <add key="Plugin_PvP" value="MetaComics.Client.exe, MetaComics.Client.Plugin.PvPComicPlugin" />
    <add key="Plugin_PlanetKarenComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.PlanetKarenComicPlugin" />
    <add key="Plugin_PFSComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.PFSComicPlugin" />
    <add key="Plugin_QuestionableContentComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.QuestionableContentComicPlugin" />
    <add key="Plugin_Retail" value="MetaComics.Client.exe, MetaComics.Client.Plugin.RetailComicPlugin" />
    <add key="Plugin_RobTheBotComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.RobTheBotComicPlugin" />
    <add key="Plugin_StarslipComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.StarslipComicPlugin" />
    <add key="Plugin_SpaceTrawlerComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.SpaceTrawlerComicPlugin" />
    <add key="Plugin_SmbcComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.SmbcComicPlugin" />
    <add key="Plugin_SmallPicturelComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.SmallPicturelComicPlugin" />
    <add key="Plugin_SmapusmentComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.SmapusmentComicPlugin" />
    <add key="Plugin_SilentKimblyComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.SilentKimblyComicPlugin" />
    <add key="Plugin_TinasGroove" value="MetaComics.Client.exe, MetaComics.Client.Plugin.TinasGrooveComicPlugin" />
    <add key="Plugin_TpasteForDner" value="MetaComics.Client.exe, MetaComics.Client.Plugin.TpasteForDnerComicPlugin" />
    <add key="Plugin_TheFlowFieldUnityComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.TheFlowFieldUnityComicPlugin" />
    <add key="Plugin_TheDevilsPantiesComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.TheDevilsPantiesComicPlugin" />
    <add key="Plugin_DogsCKennel" value="MetaComics.Client.exe, MetaComics.Client.Plugin.DogsCKennelComicPlugin" />
    <add key="Plugin_ThisModernWorldComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.ThisModernWorldComicPlugin" />
    <add key="Plugin_TemplarAZComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.TemplarAZComicPlugin" />
    <add key="Plugin_UnrehearsedRiot" value="MetaComics.Client.exe, MetaComics.Client.Plugin.UnrehearsedRiotComicPlugin" />
    <add key="Plugin_HaikucircusComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.HaikucircusComicPlugin" />
    <add key="Plugin_IndexedComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.IndexedComicPlugin" />
    <add key="Plugin_JustABitOffComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.JustABitOffComicPlugin" />
    <add key="Plugin_JesusnMoComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.JesusnMoComicPlugin" />
    <add key="Plugin_KittyHawkComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.KittyHawkComicPlugin" />
    <add key="Plugin_Wulffmorgenthaler" value="MetaComics.Client.exe, MetaComics.Client.Plugin.WulffmorgenthalerComicPlugin" />
    <add key="Plugin_WoodyAfterHoursComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.WoodyAfterHoursComicPlugin" />
    <add key="Plugin_WondermarkComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.WondermarkComicPlugin" />
    <add key="Plugin_WizardOfId" value="MetaComics.Client.exe, MetaComics.Client.Plugin.WizardOfIdComicPlugin" />
    <add key="Plugin_WebDonutsComicPlugin" value="MetaComics.Client.exe, MetaComics.Client.Plugin.WebDonutsComicPlugin" />
    <add key="Plugin_XKCD" value="MetaComics.Client.exe, MetaComics.Client.Plugin.XKCDComicPlugin" />
    <!-- Option: Active Plugins-->
    <add key="ActivePlugins" value="Blondie,Doonesbury,Dilbert,Garfield,CH,FamilyCircus,MotherGoosenGrimm,BC,WizardOfId,DogsCKennel,OhBrother,Retail,TinasGroove,XKCD,PHD,Chainsawsuit,PvP,wulffmorgenthaler,DieselSweeties,flimsythekitten" />
    <add key="ComicArchiveFolder" value="C:\Program Files\MetaComic v2.3.0.0\Strip" />
    <!-- Latest release date of the MetaComic Client,used to check for updates at http://metacomic.codeplex.com/ -->
    <add key="ReleaseDate" value="Feb 25, 2011" />
    <!-- Option: Start MetaComic Client minimized -->
    <add key="StartMinimized" value="False" />
    <!-- Option: Start MetaComic Client on Windows logon -->
    <add key="StartOnWindowsLogon" value="True" />
    <!-- Option: Allow application level logging to text file -->
    <add key="Logging" value="True" />
    <!-- Option: Different types of logging levels -->
    <add key="LoggingMode" value="Verbose" />
    <!--Setting for MetaComic disclaimer-->
    <add key="DisclamimerAgree" value="UserNotAgreed" />
    <!--Automate RSS/XML comic strip fetch interval in minutes-->
    <add key="ComicFetchInterval" value="10" />
    <!--Hours,Minutes,Seconds-->
    <add key="ComicFetchIntervalTimeFormat" value="Minutes" />
    <add key="EnableScheduling" value="False" />
    <add key="ComicDotComRSSFeedURL" value="http://feeds.comics.com/comicsdaily?UserID=YOURIDHERE&amp;format=xml" />
    <add key="ConfimApplicationExit" value="False" />
    <add key="ShowWelcomefcScreen" value="True" />
    <add key="ViewerLastSelected" value="Dilbert" />
    <add key="EnableAlternatePageBackroundColour" value="False" />
    <add key="PDFPageColor" value="1" />
    <add key="PDFAltPageColor" value="2" />
  </appSettings>
  <runtime>
    <!-- The following setting prevents the host from closing when an unhandled exception is thrown -->
    <legacyUnhandledExceptionPolicy enabled="1" />
  </runtime>
</configuration>